<form id="infoForm">
    <div class="form-outline">
        <label class="form-label">Общий уровень сложности</label>
        <input type="number" id="averageifficultylevel" class="form-control" value="@ViewBag.SelectedObject.AverageDifficultyLevel.ToString()" readonly="readonly" />
    </div>
    <div class="form-outline">
        <label class="form-label">Тип элемента</label>
        <input type="text" id="elementType" class="form-control" value="@ViewBag.SelectedObject.SignTypeName" readonly="readonly" />
    </div>
</form>
